# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.so
*.egg-info/
dist/
build/
*.egg

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env*
