$env:LANGSMITH_TRACING="true"
$env:LANGSMITH_API_KEY="Your-api-key"
$env:LANGSMITH_ENDPOINT="https://apac.api.smith.langchain.com"
$env:LANGSMITH_PROJECT="your-project-name"
$env:LANGSMITH_WORKSPACE_ID="your-workspace-id" # Optional